*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;

}
div.container{
    display: flex;
    background-color: #ffffff;
    width: 736px;
    height: 512px;
    border-radius: 32px;
}
div.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 368px;
    height: 512px;
    border-radius: 32px;
    background: #7755FF;
background: linear-gradient(90deg, rgba(119, 85, 255, 1) 0%, rgba(105, 67, 255, 1) 50%, rgba(47, 44, 233, 1) 100%);

 h2{
    width: 125px;
    height: 31px;
    margin-top: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
 }
 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-top: 35px;
    border-radius: 50%;
    background: #4D21C9;
background: linear-gradient(90deg, rgba(77, 33, 201, 1) 0%, rgba(37, 33, 201, 1) 0%, rgba(37, 33, 201, 1) 0%);
 }
 h1{
    width: 83px;
    height: 42px;
    margin-top: 28px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #ffffff;
 }
 p{
    width: 260px;
    height: 69px;
    margin-top: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #cac9ff;
 }
}
div.second{
    display: flex;
    flex-direction: column;
    padding: 38px 40px 46px 40px;
    
    h2{
        width: 104px;
        height: 31px;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0px;
    }
    div.text{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 28px;
        width: 288px;
        height: 272px;

        div{
            width: 288px;
            height: 56px;
            background-color: #ffffff 95%;
        }
    }
    button{
        margin-top: 41px;
        width: 288px;
        height: 56px;
        border-radius: 128px;
        background-color: #303b59;
        color: #ffffff;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0px;
    }
}