*{
    box-sizing: border-box;
}
form{
    width: 640px;
    height: 654px;
    background-color: rgb(4, 9, 51);
    color: white;
    padding: 24px;
}
h2{
    font-size: 32px;
    margin-bottom: 20px;
}

input,
textarea{
    border: 1px solid white;
    background-color: rgb(138, 139, 148);
    color: white;
    padding-left: 8px;
    font-size: 18px;
}
input{
    height: 40px;
}

div.name_lastname {
    display: flex;
    gap: 20px;

    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
}

div.email,
div.phone{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}

div.message{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}
textarea {
    resize: none;
    width: 100%;
    /* max-width: 300px;
    max-height: 300px;
    min-width: 200px;
    min-height: 200px */
}

button{
    width: 100%;
    height: 41px;
    color: rgb(4, 9, 51);
    border-radius: none;
    margin-top: 40px;
}