@import url();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 113px;
  width: 100%;

  div.name_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    h1 {
      font-family: "Volkhov", serif;
    }
  }

  nav {
    ul.desktop_navigation {
      display: none;
      gap: 32px;
    }
    ul.mobile_navigation {
      display: none;
      position: absolute;
      background-color: white;
    }
    img.burger_img:hover ~ ul.mobile_navigation {
      display: block;
    }
    ul {
      display: flex;
      list-style: none;

      a {
        text-decoration: none;
        color: #222222;
      }
    }
  }
  button.sign_up {
    display: none;
    width: 160px;
    height: 49.7px;
    background-color: #002699;
    color: white;
    border-radius: 5px;
  }
}
section.first {
  display: flex;
  flex-direction: column;
  gap: 144.3px;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    padding: 0 30px;

    h2 {
      font-weight: 700;
      font-size: 64px;
      line-height: 70px;
      letter-spacing: 0%;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 0%;
      color: #666666;
    }
    button.sign_up {
      margin-top: 16px;
      width: 160px;
      height: 49.7px;
      background-color: #002699;
      color: white;
      border-radius: 5px;
    }
  }
  img {
    width: 100%;  
    max-width: 700px;
  }
}
section.second {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 18px;
  div {
    width: 100%;
    height: 279px;
    h3 {
      font-weight: 700;
      font-size: 48px;
      line-height: 54px;
      letter-spacing: 0%;
      color: #222222;
      text-align: center;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0%;
      line-height: 32px;
      color: #666666;
      text-align: center;
    }
  }
  div.one {
    background-color: #00269930;
  }
  div.two {
    display: flex;
    flex-direction: column;
    gap: 37px;
  }
}
section.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  div.parent {
    width: 370px;
    height: 390px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    background-color: #66666608;
    padding: 36px 15px;

    img {
      width: 100%;
      height: 286px;
      border-radius: 16px;
    }
    div.child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* padding: 21px 24px 56px 26px; */

      h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        color: #222222;
      }
      span {
        font-weight: 600px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        color: #002699;
      }
    }
  }
}

section.fourth {
  width: 100%;
  height: 412px;
  border-radius: 16px;
  background-color: #002699;
  padding: 32px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;

  h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    text-align: center;
  }

  input.name {
    width: 253px;
    height: 58px;
    border-radius: 10px;
    color: #999999;
  }
  input.email {
    width: 253px;
    height: 58px;
    border-radius: 10px;
    color: #999999;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: right;

    input.sumbit {
    width: 117.04px;
    height: 50px;
    border-radius: 8px;
    background-color: #002699;
    color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    border: none;
  }
  }
  
}

/* responsiv */

@media screen and (min-width: 1150px) {
  header {
    nav {
      img.burger_img {
        display: none;
      }
      ul.desktop_navigation {
        display: flex;
      }
    }
    button.sign_up {
      display: block;
    }
  }
}
